<form [formGroup]="form">
    <nz-form-item>
        <nz-form-label class="form-nz-form-label col-2">Email</nz-form-label>
        <nz-form-control class="col-10">
            <input class="information" nz-input placeholder="Enter your email" formControlName="email" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label class="form-nz-form-label col-2">Password</nz-form-label>
        <nz-form-control class="col-10">
            <input class="information" nz-input type="password" placeholder="Enter your password" formControlName="password" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label class="form-nz-form-label col-2">Name</nz-form-label>
        <nz-form-control class="col-10">
            <input class="information" nz-input placeholder="Enter your name" formControlName="name" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label class="form-nz-form-label col-2">Identity Card</nz-form-label>
        <nz-form-control class="col-10">
            <input class="information" #identityCard (ngModelChange)="checkIdentity($event)" nz-input placeholder="Enter your Identity Card" formControlName="identityCard" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label class="form-nz-form-label col-2">Address</nz-form-label>
        <nz-form-control class="col-10">
            <input class="information" nz-input placeholder="Enter your address" formControlName="address" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label class="form-nz-form-label col-2">Phone</nz-form-label>
        <nz-form-control class="col-10">
            <input class="information" #phone  nz-input placeholder="Enter your phone" formControlName="phone" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label class="form-nz-form-label col-2">Birthday</nz-form-label>
        <nz-form-control class="col-10">
            <nz-date-picker class="information" formControlName="doB" nzFormat="dd-MM-YYYY">
            </nz-date-picker>
        </nz-form-control>
    </nz-form-item>
    <div *ngIf="isEdit" class="footer">
        <button nz-button nzType="primary" (click)="submit()" [disabled]="!form.valid">
            <i class="fa-solid fa-check-double" style="margin-right: 5px;"></i>Submit</button>
    </div>
</form>
