<!-- <img width="100%" height="100%" style="object-fit:cover" src="../../../assets/background.webp" alt="background">
<img width="100%" height="100%" style="object-fit:cover" src="../../../assets/background.webp" alt="background">
<div class="content">
    <div *ngIf="movie" style="display: flex;">
        <img *ngIf="movie.poster === ''" alt="Poster" src="https://picsum.photos/200/300" class="poster" />
        <img *ngIf="movie.poster !== ''" alt="Poster" src="{{ movie.poster }}" class="poster" />
        <div style="padding: 0 50px;">
            <span class="name">{{ movie.name }}</span><br>
            <nz-rate [ngModel]="3.5" nzAllowHalf nzDisabled></nz-rate><br>
            <span>Opening Day: {{ movie.openingDay | date: 'dd/MM/YYYY' }}</span><br>
            <span>Time: {{ movie.time}} phút</span><br>
            <span>Director: {{ movie.director}}</span><br>
            <span>Country: {{ movie.country}}</span><br>
            <span>Description: {{ movie.description}}</span><br>
        </div>
    </div>
    <nz-divider nzText="Cinema"></nz-divider>
    <div nz-row [nzGutter]="1">
        <div nz-col [nzSpan]="3" *ngFor="let cinema of cinemas" (click)="onFilterCinema(cinema.id)"
            style="text-align: center;">
            <button nz-button nzType="default" style="width: 80%;">{{ cinema.name }}</button>
        </div>
    </div>
    <nz-divider nzText="Date"></nz-divider>
    <div nz-row [nzGutter]="1">
        <div nz-col [nzSpan]="3" *ngFor="let d of date" (click)="onFilterDate(d.value)" style="text-align: center;">
            <button nz-button nzType="default" style="width: 80%;">{{ d.value | date: 'dd/MM' }}</button>
        </div>
    </div>
    <nz-divider nzText="Format Screen"></nz-divider>
    <div nz-row [nzGutter]="1">
        <div nz-col [nzSpan]="3" *ngFor="let format of formatMovieScreen" (click)="onFilterScreen(format.value)"
            style="text-align: center;">
            <button nz-button nzType="default" style="width: 80%;">{{ format.viewValue }}</button>
        </div>
    </div>
    <nz-divider nzText="Showtimes"></nz-divider>
    <div nz-row [nzGutter]="1">
        <div nz-col [nzSpan]="3" *ngFor="let s of showtimes" style="text-align: center;">
            <button nz-button nzType="default" (click)="showModal(s.id)" style="width: 80%;">{{ s.timeStart
                |
                date: 'hh:mm' }}</button>
        </div>
    </div>
</div>
<nz-modal [nzStyle]="{ top: '2.75rem', width: '1100px' }" [(nzVisible)]="isVisible" [nzTitle]="modalTitle"
    [nzContent]="modalContent" (nzOnCancel)="handleCancel()" [nzFooter]="null">
    <ng-template #modalTitle><span>Book Tickets</span></ng-template>
    <ng-template #modalContent>
        <app-modal-room #modalRoom (submit)="handleSubmit()" (cancel)="handleCancel()" [showtimesId]="sId">
        </app-modal-room>
    </ng-template>
</nz-modal> -->
