<img width="100%" height="100%" style="object-fit:cover" src="../../../assets/background.webp" alt="background">
<img width="100%" height="100%" style="object-fit:cover" src="../../../assets/background.webp" alt="background">
<nz-back-top [nzTemplate]="tpl" [nzVisibilityHeight]="10">
    <ng-template #tpl>
        <div class="ant-back-top-inner"><i class="fa-solid fa-circle-up"></i></div>
    </ng-template>
</nz-back-top>
<div class="content">
    <h1 class="title">Nhóm 11 - Đề tài quản lý gym</h1>
    <div class="part">Thành viên trong nhóm:</div>
    <ul>
        <li>Nguyễn Quốc Hưng - </li>
        <li>Nguyễn Quang Huy - 103964</li>
        <li>Tô Tiến Việt - 224564</li>
    </ul>
    <!-- <div class="part">Phát biểu</div>
    <p style="text-indent: 2em;">Trong các rạp chiếu phim hiện nay, việc quản lý và tổ chức chiếu phim, bán vé luôn là
        vấn đề được quan tâm. Người quản lý luôn gặp khó khăn trong vấn đề quản lý quá trình hoạt động của từng bộ phận
        như: phim, lịch chiếu, trang thiết bị… và đặc biệt là quá trình bán vé. Khách hàng phải xếp hàng chờ đợi hàng
        giờ để mua được vé xem phim. Chính vì lý do đó mà số lượng khách hàng đi xem phim cũng ít hơn, thu nhập của rạp
        cũng bị ảnh hưởng. Vì vậy, tạo ra một phần mềm quản lý rạp chiếu phim là một nhu cầu tất yếu.</p>
    <p style="text-indent: 2em;">Hệ thống quản lý rạp chiếu phim được xây dựng dựa trên những nhu cầu thực tế của khách
        hàng và nhà quản lý nhằm giải quyết những khó khăn gặp phải, giảm thiểu rủi ro trong quá trình quản lý rạp. Hệ
        thống hướng tới các đối tượng là khách hàng và những nhân viên quản lý trong rạp. Hệ thống có các chức năng
        chính bao gồm: quản lý phim, quản lý lịch chiếu, quản lý phòng chiếu, quản lý vé, đặt vé, quản lý người dùng và
        quản lý thông tin khách hàng. Các chức năng này giúp người quản lý dễ dàng điều khiển quá trình hoạt động của
        rạp và rất thuận tiện để khách hàng có thể mua được vé.</p>
    <div class="part">Mô tả</div>
    <ul>
        <li>Tra cứu thông tin phim: cho phép khách hàng có thể xem được các thông tin của các bộ phim mà rạp đã, đang và
            sắp chiếu trong thời gian tới. Các thông tin gồm: tên phim, thể loại, quốc gia sản xuất, thời lượng của bộ
            phim, diễn viên đóng trong phim, nội dung của bộ phim,…</li>
        <li>Tra cứu lịch chiếu phim: Cho phép khách hàng xem lịch chiếu phim của rạp trong tuần này hay trong 1 hay 2
            tuần tới tùy theo sự lựa chọn của khách hàng. Lịch chiếu phim bao gồm các thông tin của các buổi chiếu.Mỗi
            buổi chiếu bao gồm các thông tin: tên phim được chiếu phòng chiếu, thời gian chiếu.</li>
        <li>Đặt vé: Hệ thống trợ giúp cho khách hàng có thể trực tiếp đặt mua vé online.</li>
        <li>Quản lý vé: là chức năng mà hệ thống phải thực hiện để hỗ trợ nhân viên phòng vé kiểm soát lượng vé trong
            từng buổi chiếu, nhân viên có thể tạo, thêm, cập nhập thông tin của vé xem phim theo từng buổi chiếu.</li>
        <li>Quản lý phòng chiếu: hệ thống giúp cho nhân viên quản lý phòng chiếu có thể quản lý tất cả các phòng chiếu
            của rạp dựa trên các thuộc tính của các phòng chiếu như: mã phòng chiếu, loại phòng chiếu, hiện trạng của
            phòng chiếu, số ghế…</li>
        <li>Quản lý phim: Hỗ trợ nhân viên quản lý phim có thể quản lý kho tư liệu phim của rạp dựa trên các thuộc tính
            của từng bộ phim: mã phim, tên phim, thể loại, ngày khởi chiếu, quốc gia sản xuất…</li>
        <li>Quản lý lịch chiếu phim: Nhân viên quản lý lịch chiếu có thể thực hiện chức năng này để: lên lịch chiếu, xóa
            lịch chiếu sửa đổi lịch chiếu phim …</li>
        <li>Quản lý người dùng: Người quản trị hệ thống có thể bổ xung thêm người sử dụng mới hay loại bỏ những người sử
            dụng không còn cần sử dụng hệ thống.Và người quản trị sẽ phân quyền truy cập vào hệ thống cho từng nhóm
            người.</li>
        <li>Quản lý thông tin khách hàng: Chức năng này sẽ giúp cho ban quản lý rạp biết được các thông tin cũng như số
            lượng khách hàng của rạp để từ đó họ có thể phục vụ khách hàng một cách tốt hơn để nâng cao doanh thu của
            rạp.</li>
        <li>Thống kê báo cáo: Ban quản lý rạp sẽ được hỗ trợ để thống kê các báo cáo: về vé ,phim , cơ sở vật chất, các
            dữ liệu của rạp , các hoạt động bên trong rạp…</li>
        <li>Đăng nhập hệ thống: nhân viên của rạp chiếu phim những người quản lý rạp hay những người quản trị hệ thống
            cần đăng nhập vào hệ thống để thực hiện các chức năng của họ.</li>
        <li>Quản lý loại phim: Chức năng này hỗ trợ cho nhân viên quản lý phim có thế quản lý được các thế loại phim
            trong kho phim của rạp từ đó có thể quản lý các phim trong phim một cách dễ dàng và hiệu quả nhất.</li>
        <li>Quản lý loại vé: Chức năng này hỗ trợ cho nhân viên quản lý vé thực hiện các thao tác quản lý các loại vé
            một cách hợp lý và hiệu quả nhất, từ đó rạp chiếu phim có thể phục vụ khách hàng có nhu cầu xem phim một
            cách tốt nhất.</li>
        <li>Quản lý bán vé: Chức năng này hỗ trợ cho nhân viên quản lý vé có thể kiểm soát số lượng vé đã bán ra và
            thông tin của việc bán vé một cách hiệu quả và nhanh nhất.</li>
    </ul>
    <div class="part">Nếu gặp vấn đề gì hãy liên hệ với chúng tôi bằng các cách bên dưới:</div>
    <div class='social-links'>
        <div class='social-btn flex-center twitter' (click)="openSocial('https://twitter.com/linhdepzais')">
            <i class="fa-brands fa-twitter fa-2x"></i>
            <span>@linhdepzais</span>
        </div>
        <div class='social-btn flex-center github' (click)="openSocial('https://github.com/linhdepzai')">
            <i class="fa-brands fa-github fa-2x"></i>
            <span>Linhdepzai</span>
        </div>
        <div class='social-btn flex-center facebook' (click)="openSocial('https://www.facebook.com/linhdepzais/')">
            <i class="fa-brands fa-facebook fa-2x"></i>
            <span>linhdepzai</span>
        </div>
        <div class='social-btn flex-center discord' (click)="openSocial('https://discord.gg/linhdepzais')">
            <i class="fa-brands fa-discord fa-2x"></i>
            <span>Linhdepzai</span>
        </div>
        <div class='social-btn flex-center instagram' (click)="openSocial('https://www.instagram.com/linhdepzais/')">
            <i class="fa-brands fa-instagram fa-2x"></i>
            <span>@linhdepzai</span>
        </div>
        <div class='social-btn flex-center linkedin'
            (click)="openSocial('https://www.linkedin.com/in/linh-%C4%91%E1%BA%B7ng-tu%E1%BA%A5n-b45b98244/')">
            <i class="fa-brands fa-linkedin fa-2x"></i>
            <span>in/hbqhm</span>
        </div>
        <div class='social-btn flex-center youtube'
            (click)="openSocial('https://www.youtube.com/channel/UCDysGnPZIOzgoddk1d5pwkQ')">
            <i class="fa-brands fa-youtube fa-2x"></i>
            <span>linhdepzai</span>
        </div>
    </div> -->
</div>
