<div class="header">
    <button class="btn_create" (click)="open('create', null)">Create</button>
    <div class="filter">
        <nz-select nzShowSearch nzAllowClear class="search m-2" nzPlaceHolder="Search customer name.." [(ngModel)]="acc" (ngModelChange)="onFilterAcc($event)">
            <nz-option *ngFor="let account of accounts" [nzLabel]="account.name" [nzValue]="account.id"></nz-option>
        </nz-select>
        <nz-range-picker class="m-2" nzFormat="YYYY-MM-dd" [(ngModel)]="date" (ngModelChange)="onFilterDate($event)"></nz-range-picker>
        <nz-input-number-group nzAddOnBefore="From" >
            <nz-input-number nz-input nzPlaceHolder="Point..."  [nzMin]="1000" [nzMax]="60000" [nzStep]="1"  [ngModel]="null" (ngModelChange)="onFilterFromPoint($event)"></nz-input-number>
        </nz-input-number-group>
        <nz-input-number-group nzAddOnBefore="To"   >
            <nz-input-number nz-input nzPlaceHolder="Point..." [nzMin]="1000" [nzMax]="60000" [nzStep]="1" [ngModel]="null" (ngModelChange)="onFilterToPoint($event)" ></nz-input-number>
        </nz-input-number-group>
        <button nz-button class="m-2" nzType="primary">
            <i class="fa-solid fa-arrows-rotate" style="margin-right: 5px;"></i>
            Refresh
        </button>
    </div>
</div>
<nz-table #rowSelectionTable nzShowSizeChanger [nzData]="accounts" [nzShowTotal]="rangeTemplate"
    (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" nzShowQuickJumper [nzScroll]="{ y: '400px' }"
    [nzPaginationPosition]="setting.paginationPosition" [nzBordered]="true" [nzPaginationType]="setting.paginationType"
    [nzSimple]="setting.paginationSimple">
    <ng-template #rangeTemplate let-range="range" let-total>
        {{ range[0] }}-{{ range[1] }} of {{ total }} items
    </ng-template>
    <thead>
        <tr style="cursor: pointer;">
            <th [nzAlign]="'center'" [nzWidth]="'16.5%'" nzLeft>Customer</th>
            <th [nzAlign]="'center'" [nzWidth]="'16.5%'">Email</th>
            <th [nzAlign]="'center'" [nzWidth]="'17%'">Address</th>
            <th [nzAlign]="'center'" [nzWidth]="'10%'">Identity</th>
            <th [nzAlign]="'center'" [nzWidth]="'10%'">Phone</th>
            <th [nzAlign]="'center'" [nzWidth]="'10%'">Birthday</th>
            <th [nzAlign]="'center'" [nzWidth]="'10%'">Point</th>
            <th [nzAlign]="'center'" [nzWidth]="'10%'" nzRight>Action</th>
        </tr>
    </thead>
    <tbody cdkDropList (cdkDropListDropped)="drop($event)" style="cursor: pointer;">
        <tr *ngFor="let data of rowSelectionTable.data" cdkDrag>
            <td nzLeft>{{ data.name }}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.address }}</td>
            <td [nzAlign]="'center'">{{ data.identityCard }}</td>
            <td [nzAlign]="'center'">{{ data.phone }}</td>
            <td [nzAlign]="'center'">{{ data.doB | date: 'dd/MM/YYYY' }}</td>
            <td [nzAlign]="'center'" nzRight>{{ data.point }}</td>
            <td [nzAlign]="'center'" nzRight>
                <button nz-button nzType="primary" (click)="$event.stopPropagation(); open('view', data)">
                    <i class="fa-solid fa-eye"></i>
                </button>
                <button nz-button nzType="primary" nzDanger (click)="$event.stopPropagation(); showConfirm(data.id)">
                    <i class="fa-solid fa-trash-can"></i>
                </button>
            </td>
        </tr>
    </tbody>
</nz-table>
<nz-drawer [nzSize]="'large'" [nzClosable]="false" [nzVisible]="visible" [nzTitle]="titleTemplate" (nzOnClose)="close()"
    [nzPlacement]="setting.drawerPosition">
    <ng-template #titleTemplate>
        <div class="row">
            <div class="col col-10">
                <span *ngIf="title === 'Create Movie'"><i class="fa-solid fa-folder-plus"
                        style="margin-right: 5px;"></i>{{
                    title }}</span>
                <span *ngIf="title !== 'Create Movie'"><i class="fa-solid fa-wand-magic-sparkles"
                        style="margin-right: 5px;"></i>{{
                    title }}</span>
            </div>
            <div *ngIf="mode !== 'create'" class="col col-2">
                <button *ngIf="isEdit == false" nz-button nzType="primary" class="btn_edit" (click)="changeEdit()">
                    <i class="fa-solid fa-right-to-bracket" style="margin-right: 5px;"></i>Edit</button>
                <button *ngIf="isEdit == true" nz-button nzType="default" class="btn_edit" (click)="changeEdit()">
                    <i class="fa-solid fa-right-to-bracket fa-rotate-180" style="margin-right: 5px;"></i>Cancel</button>
            </div>
        </div>
    </ng-template>
    <ng-container *nzDrawerContent>
        <app-view-and-edit-customer #account [mode]="mode" [data]="data" [isEdit]="isEdit || isCreate" (onSubmit)="submit($event)">
        </app-view-and-edit-customer>
    </ng-container>
</nz-drawer>
