<!-- <img width="100%" height="100%" style="object-fit:cover;" src="../../../assets/background.webp" alt="background">
<div class="content">
  <div style="width: 25%; margin: 25px;">
    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select cinema..." style="width: 100%;">
      <nz-option *ngFor="let data of cinemas" [nzLabel]="data.name" [nzValue]="data.name"
        (ngModelChange)="cinemaData($event)"></nz-option>
    </nz-select>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item *ngFor="let data of cinemas" (click)="onChangeSelectCinema(data)">
        <span nz-typography nzEllipsis style="color: #fff;">{{data.name}}</span>
      </li>
    </ul>
  </div>
  <div style="width: 75%;">
    <h4 style="color: #ff1b6b; font-weight: bold;">Lịch chiếu phim rạp {{ this.cinemaName }}</h4>
    <div style="width: 100%;">
      <div class="inner-content">
        <ul nz-menu nzTheme="dark" nzMode="horizontal" style="margin-bottom: 10px;">
          <li nz-menu-item *ngFor="let date of date" (click)="onFilterDate(date.value)" style="width: calc(100% / 7);">
            <div nz-col nzSpan="24" style="color: black; background: #FFCCCC; display: flex;justify-content: center;">
              {{ date.value | date: 'dd/MM' }}
            </div>
            <div style="display: flex;justify-content: center;" nz-col nzSpan="24">{{ getDayName(date.value) }}
            </div>
          </li>
        </ul>
        <div class="layout">
          <div *ngFor="let movie of movies">
            <div  nz-row *ngIf="showTimeMovie(movie.id).length > 0" style="position: relative;background-color: #001529; z-index: 1;">
              <img alt="Poster" src="{{ getPoster(movie.id) }}" class="poster" />
              <div nz-col style="width: 70%">
                <div class="cardMovie">
                  <h5 nz-typography nzEllipsis style="font-weight: bold; color: #fff">{{ movie.name }}</h5>
                  <nz-divider nzText="Format Screen"></nz-divider>
                  <div nz-row [nzGutter]="1">
                    <div nz-col [nzSpan]="6" *ngFor="let format of formatMovieScreen" style="text-align: center;">
                      <button nz-button class="button" [nzLoading]="isLoading" nzType="default"
                        (click)="onFilterScreen(format.value)">{{ format.viewValue }}
                      </button>
                    </div>
                  </div>
                  <nz-divider nzText="Showtimes"></nz-divider>
                  <div nz-row [nzGutter]="1">
                    <div nz-col [nzSpan]="3" *ngFor="let s of showTimeMovie(movie.id)" style="text-align: center;">
                      <button nz-button nzType="default" (click)="showModal(s.id)">
                        {{ s.timeStart|date: 'HH:mm' }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <nz-divider></nz-divider>
            </div>
          </div>
          <div class="sorry">
            <i class="fa-solid fa-robot"></i>
            Sorry, this showtime can't find now
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nz-modal [nzStyle]="{ top: '2.75rem', width: '1100px' }" [(nzVisible)]="isVisible" [nzTitle]="modalTitle"
    [nzContent]="modalContent" (nzOnCancel)="handleCancel()" [nzFooter]="null">
    <ng-template #modalTitle><span>Book Tickets</span></ng-template>
    <ng-template #modalContent>
        <app-modal-room #modalRoom (submit)="handleSubmit()" (cancel)="handleCancel()" [showtimesId]="sId">
        </app-modal-room>
    </ng-template>
</nz-modal> -->
