<div class="header">
  <button class="btn_create" (click)="open('create', null)">Create</button>
  <div class="filter">
      <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate" class="search m-2" >
          <input nz-input type="text" placeholder="Search food name..." [ngModel]="null"  (ngModelChange)="onFilterFood($event)"/>
      </nz-input-group>
      <ng-template #addOnBeforeTemplate>
          <i class="fa-solid fa-magnifying-glass"></i>
      </ng-template>
      <nz-select class="m-2" style="width: 20rem;"  nzPlaceHolder="Search type..."  [(ngModel)]="cinema">
          <nz-option *ngFor="let cinema of cinemas" [nzLabel]="cinema.name" [nzValue]="cinema.id"></nz-option>
      </nz-select>
      <nz-input-number-group nzAddOnAfter="VNĐ" class="m-2" style="width: 10rem" [(ngModel)]="price"  (ngModelChange)="onFilterPrice($event)">
          <nz-input-number nzPlaceHolder="Search price..." [nzMin]="1000" [nzMax]="60000" [nzStep]="1000">
          </nz-input-number>
      </nz-input-number-group>
      <nz-select class="m-2" [ngModel]="'S'" (ngModelChange)="onFilterSize($event)">
          <nz-option nzLabel="S" nzValue="1"></nz-option>
          <nz-option nzLabel="M" nzValue="2"></nz-option>
          <nz-option nzLabel="L" nzValue="3"></nz-option>
      </nz-select>
      <button nz-button class="m-2" nzType="primary">
          <i class="fa-solid fa-arrows-rotate" style="margin-right: 5px;"></i>
          Refresh
      </button>
  </div>
</div>
<nz-table #rowSelectionTable nzShowSizeChanger [nzData]="foods" [nzShowTotal]="rangeTemplate"
  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" nzShowQuickJumper [nzScroll]="{ y: '400px' }"
  [nzPaginationPosition]="setting.paginationPosition" [nzBordered]="true" [nzPaginationType]="setting.paginationType"
  [nzSimple]="setting.paginationSimple">
  <ng-template #rangeTemplate let-range="range" let-total>
      {{ range[0] }}-{{ range[1] }} of {{ total }} items
  </ng-template>
  <thead>
      <tr style="cursor: pointer;">
          <th [nzAlign]="'center'" [nzWidth]="'30%'" nzLeft>Name</th>
          <th [nzAlign]="'center'" [nzWidth]="'30%'">Type</th>
          <th [nzAlign]="'center'" [nzWidth]="'10%'">Size</th>
          <th [nzAlign]="'center'" [nzWidth]="'10%'">Price</th>
          <th [nzAlign]="'center'" [nzWidth]="'20%'" nzRight>Action</th>
      </tr>
  </thead>
  <tbody cdkDropList (cdkDropListDropped)="drop($event)" style="cursor: pointer;">
      <tr *ngFor="let data of rowSelectionTable.data" cdkDrag>
          <td [nzAlign]="'center'" nzLeft>{{ data.name }}</td>
          <td [nzAlign]="'center'">{{ getTypeName(data.type) }}</td>
          <td [nzAlign]="'center'">{{ getSizeName(data.size) }}</td>
          <td [nzAlign]="'center'">{{ getPriceName(data.price) }}</td>
          <td [nzAlign]="'center'" nzRight>
              <button nz-button nzType="primary" (click)="$event.stopPropagation(); open('view', data)">
                  <i class="fa-solid fa-eye"></i>
              </button>
              <button nz-button nzType="primary" nzDanger (click)="$event.stopPropagation(); showConfirm(data.id)">
                  <i class="fa-solid fa-trash-can"></i>
              </button>
          </td>
      </tr>
  </tbody>
</nz-table>
<nz-drawer [nzSize]="'large'" [nzClosable]="false" [nzVisible]="visible" [nzTitle]="titleTemplate" (nzOnClose)="close()"
  [nzPlacement]="setting.drawerPosition">
  <ng-template #titleTemplate>
      <div class="row">
          <div class="col col-10">
              <span *ngIf="title === 'Create Movie'"><i class="fa-solid fa-folder-plus"
                      style="margin-right: 5px;"></i>{{
                  title }}</span>
              <span *ngIf="title !== 'Create Movie'"><i class="fa-solid fa-wand-magic-sparkles"
                      style="margin-right: 5px;"></i>{{
                  title }}</span>
          </div>
          <div *ngIf="mode !== 'create'" class="col col-2">
              <button *ngIf="isEdit == false" nz-button nzType="primary" class="btn_edit" (click)="changeEdit()">
                  <i class="fa-solid fa-right-to-bracket" style="margin-right: 5px;"></i>Edit</button>
              <button *ngIf="isEdit == true" nz-button nzType="default" class="btn_edit" (click)="changeEdit()">
                  <i class="fa-solid fa-right-to-bracket fa-rotate-180" style="margin-right: 5px;"></i>Cancel</button>
          </div>
      </div>
  </ng-template>
  <ng-container *nzDrawerContent>
      <app-view-and-edit-food #createOrEdit [mode]="mode" [data]="data" [isEdit]="isEdit" [cinemas]="cinemas"
          (onSubmit)="submit($event)">
      </app-view-and-edit-food>
  </ng-container>
</nz-drawer>
