<form [formGroup]="form">
    <nz-form-item>
        <nz-form-label class="form-nz-form-label col-2">Code</nz-form-label>
        <nz-form-control class="col-10">
            <input class="information" nz-input placeholder="Enter code" formControlName="code" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label class="form-nz-form-label col-2">Price</nz-form-label>
        <nz-form-control class="col-10">
            <nz-input-number-group nzAddOnAfter="VNĐ" class="information">
                <nz-input-number class="information" nzPlaceHolder="Enter price" formControlName="price"
                [nzMin]="1000" [nzMax]="10000000" [nzStep]="1000"></nz-input-number>
            </nz-input-number-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label class="form-nz-form-label col-2">Start Date</nz-form-label>
        <nz-form-control class="col-10">
            <nz-date-picker class="information" formControlName="startDate"></nz-date-picker>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label class="form-nz-form-label col-2">End Date</nz-form-label>
        <nz-form-control class="col-10">
            <nz-date-picker class="information" formControlName="endDate" (ngModelChange)="warning()"></nz-date-picker>
        </nz-form-control>
    </nz-form-item>
    <div style="color: red;">{{ warningstr }}</div>
    <div *ngIf="isEdit" class="footer">
        <button nz-button nzType="primary" (click)="submit()">
            <i class="fa-solid fa-check-double" style="margin-right: 5px;"></i>Submit</button>
    </div>
</form>
