<!-- <nz-layout>
    <div class="carousel" style="height: 300px">
        <nz-carousel nzAutoPlay>
            <div nz-carousel-content>
                <img width="100%" height="100%" style="object-fit:cover" src="../../../assets/ant-man-quantumania.png"
                    alt="Ant man">
            </div>
            <div nz-carousel-content>
                <img width="100%" height="100%" style="object-fit:cover" src="../../../assets/super-mario-bros.jpg"
                    alt="Super Mario Bros">
            </div>
            <div nz-carousel-content>
                <img width="100%" height="100%" style="object-fit:cover" src="../../../assets/Johnwick.jpg"
                    alt="johnwick">
            </div>
        </nz-carousel>
    </div>
    <nz-header class="header">Movie</nz-header>
    <img width="100%" height="100%" style="object-fit:cover" src="../../../assets/background.webp" alt="background">
    <img width="100%" height="100%" style="object-fit:cover" src="../../../assets/background.webp" alt="background">
    <div class="content">
        <button class="btn_nowshowing" (click)="movieData('now')">Now Showing</button>
        <button class="btn_comingsoon" (click)="movieData('soon')">Coming soon</button>
        <nz-card style="background: none; border: none; padding: none;">
            <div nz-card-grid *ngFor="let movie of movies" style="width: 25%; text-align: center; height: 487px;">
                <nz-card nzHoverable class="card" [nzCover]="coverTemplate" [nzLoading]="loading">
                    <nz-card-meta nzTitle="{{ movie.name }}" style="padding: 15px;"
                        nzDescription="{{ movie.time }} phút | {{ movie.openingDay | date: 'dd/MM/yyyy' }}">
                    </nz-card-meta>
                </nz-card>
                <ng-template #coverTemplate>
                    <div class="poster">
                        <img alt="Poster" src="{{ getPoster(movie.id) }}" class="poster" />
                        <div class="shadow_swhow_mini">
                            <button nz-button nzType="default" [nzSize]="'small'" nzShape="round" nzGhost
                                class="btn-detail">Movie Details</button>
                            <button nz-button nzType="default" [nzSize]="'small'" nzShape="round" nzGhost
                                class="btn-booking" (click)="onViewShowtimes(movie.id)">Book
                                Tickets</button>
                        </div>
                    </div>
                </ng-template>
            </div>
        </nz-card>
        <div class="footer">
            <div>CHĂM SÓC KHÁCH HÀNG</div>
            <div>Hotline: 0387 008 631</div>
            <div>Giờ làm việc: 8h00-22h00 tất cả các ngày trong tuần</div>
            <div>Email: contact@hbqhmcinema.com</div>
        </div>
    </div>
</nz-layout> -->
